# Web scraping by using selenium

In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\aakas\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\aakas\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\aakas\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\aakas\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\aakas\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\aakas\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\aakas\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\aakas\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [3]:
# connecting to the web driver
driver=webdriver.Chrome(r'D:\chromedriver_win32\chromedriver.exe')

# Question -1 Data Scraping from Naukri.com

In [4]:
# opening the naukri page on automated chrome drive
driver.get('https://www.naukri.com/')

In [5]:
#Enterning designation 
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Analyst')

In [6]:
#Entering Location - finding the element by xpath 
Location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
Location.send_keys('Bangalore')

In [7]:
# Clicking on search button 
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [8]:
# Creating list for extraction of data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [9]:
#Scraping job title data 
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [10]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    title=i.text
    job_location.append(title)

In [11]:
com_name=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com_name[0:10]:
    title=i.text
    company_name.append(title)

In [12]:
experiance=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experiance[0:10]:
    title=i.text
    experience_required.append(title)

In [13]:
print(len( job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [14]:
naukri=pd.DataFrame({'Job Titles':job_title,'Location':job_location,'Name of Company':company_name,'Experience':experience_required})
naukri

,Job Titles,Location,Name of Company,Experience
0,Project Data Analyst,Bangalore/Bengaluru,WSP,0-4 Yrs
1,Data Analyst,Temp. WFH - Bangalore/Bengaluru,Treebo Hotels,1-5 Yrs
2,Executive - Data Analyst,Bangalore/Bengaluru,Flipkart,1-5 Yrs
3,Data Analyst,Bangalore/Bengaluru,ANZ,1-4 Yrs
4,Data Analyst,Bangalore/Bengaluru,ANZ,1-5 Yrs
5,Senior Data Analyst | Neiman Marcus Group,Bangalore/Bengaluru,Talent500,6-11 Yrs
6,Senior Data Analyst,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Yallas Technology Solutions Opc,2-7 Yrs
7,Customer Master Data Analyst (SAP SD/MM),Bangalore/Bengaluru,Cyient,2-5 Yrs
8,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
9,Senior Analyst - Data Management,Bangalore/Bengaluru,Accenture,5-8 Yrs

# Question-2 Scraping data for data scientist position

In [100]:
driver=webdriver.Chrome(r'D:\chromedriver_win32\chromedriver.exe')

In [101]:
driver.get("https://www.naukri.com/")

In [102]:
des=driver.find_element(By.CLASS_NAME,'suggestor-input ')
des.send_keys('Data Scientist')

In [103]:
loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
loc.send_keys('Bangalore')

In [104]:
se=driver.find_element(By.CLASS_NAME,'qsbSubmit')
se.click()

In [105]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [106]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="jobTupleHeader"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [107]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in title_tags[0:10]:
    title=i.text
    job_location.append(title)

In [108]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    title=i.text
    company_name.append(title)

In [109]:
experiance_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experiance_tags[0:10]:
    title=i.text
    experience_required.append(title)

In [110]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [111]:
Naukri2=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience':experience_required})
Naukri2

,Job Title,Job Location,Company Name,Experience
0,Analystics & Modeling Specialist\nAccenture\n4...,Analystics & Modeling Specialist\nAccenture\n4...,Accenture,6-8 Yrs
1,Data Scientist\nTata Nexarc\n3.2\n(16 Reviews)...,Data Scientist\nTata Nexarc\n3.2\n(16 Reviews)...,Tata Nexarc,4-8 Yrs
2,Data Scientist\nTech Mahindra\n3.7\n(22256 Rev...,Data Scientist\nTech Mahindra\n3.7\n(22256 Rev...,Tech Mahindra,5-8 Yrs
3,Data Scientist / AI-ML Engineer\nHitachi Ltd.\...,Data Scientist / AI-ML Engineer\nHitachi Ltd.\...,Hitachi Ltd.,3-7 Yrs
4,Manager-Data Science\nAMERICAN EXPRESS\n4.4\n(...,Manager-Data Science\nAMERICAN EXPRESS\n4.4\n(...,AMERICAN EXPRESS,3-4 Yrs
5,ACN - Applied Intelligence - Data Scientist - ...,ACN - Applied Intelligence - Data Scientist - ...,Accenture,2-6 Yrs
6,Data Scientist\nMindtree\n4.1\n(3829 Reviews)\...,Data Scientist\nMindtree\n4.1\n(3829 Reviews)\...,Mindtree,5-10 Yrs
7,Data Scientist - II\nBizongo\n3.5\n(56 Reviews...,Data Scientist - II\nBizongo\n3.5\n(56 Reviews...,Bizongo,3-6 Yrs
8,Senior Data Scientist\nBaker Hughes\n4.1\n(327...,Senior Data Scientist\nBaker Hughes\n4.1\n(327...,Baker Hughes,6-8 Yrs
9,Lead Data Scientist\nCaterpillar Inc\n4.3\n(90...,Lead Data Scientist\nCaterpillar Inc\n4.3\n(90...,Caterpillar Inc,6-9 Yrs

# Question 3

In [80]:
driver=webdriver.Chrome(r'D:\chromedriver_win32\chromedriver.exe')

In [81]:
driver.get("https://www.naukri.com/")

In [82]:
desi=driver.find_element(By.CLASS_NAME,'suggestor-input')
desi.send_keys('Data Scientist')

In [83]:
se=driver.find_element(By.CLASS_NAME,'qsbSubmit')
se.click()

In [85]:
filt=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[1]/span')
filt.click()

In [86]:
loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[1]/span')
loc.click()

In [87]:
loc_city=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div/span')
loc_city.click()

In [88]:
sal=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[1]/span')
sal.click()

In [89]:
sal_value=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
sal_value.click()

In [90]:
job_titles=[]
job_location=[]
company=[]
experience=[]

In [91]:
job_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in job_tags[0:10]:
    title=i.text
    job_titles.append(title)

In [93]:
loca_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loca_tags[0:10]:
    title=i.text
    job_location.append(title)

In [94]:
comp_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in comp_tags[0:10]:
    title=i.text
    company.append(title)

In [95]:
expi_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in expi_tags[0:10]:
    title=i.text
    experience.append(title)

In [96]:
print(len(job_titles),len(job_location),len(company),len(experience))

10 10 10 10

In [98]:
Naukari3=pd.DataFrame({'Job Name':job_titles,'Job Location':job_location,'Comapny Name':company,'Experience':experience})
Naukari3

,Job Name,Job Location,Comapny Name,Experience
0,Artificial Intelligence/Computer Vision Engine...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Vicara,1-3 Yrs
1,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
2,Data Scientist,Temp. WFH - Noida,NGI Ventures,1-5 Yrs
3,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
4,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
5,Data Scientist,Gurgaon/Gurugram,Americana Restaurants (india),3-8 Yrs
6,URGENT: Data Scientist | Gurugram | 5 Days Wor...,Gurgaon/Gurugram,Digilytics,2-5 Yrs
7,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs
8,Jr. Data Scientist,Noida,Dataflow,1-3 Yrs
9,Data scientist- Python,Gurgaon/Gurugram,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs

# Question- 4

In [277]:
driver=webdriver.Chrome(r'D:\chromedriver_win32\chromedriver.exe')

In [278]:
driver.get('https://www.flipkart.com/')

In [279]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys("Sunglasses")

In [280]:
search=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search.click()

In [281]:
Brand=[]
Product_description=[]
price=[]
offer=[]

In [282]:
start=0
end=3

for page in range(start,end):
    
    brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands[0:100]:
        Brand.append(i.text)
        
    product_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_desc[0:100]:
        Product_description.append(i.text)
        
    pric=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pric[0:100]:
        price.append(i.text)
        
    off=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in off[0:100]:
        offer.append(i.text)
        
    
        
    next_but=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')

In [283]:
print(len(Brand),len( Product_description),len(price))

120 120 120

In [284]:
Brand1=Brand[0:100]
Product1=Product_description[0:100]
Price1=price[0:100]
Offer1=offer[0:100]

In [285]:
Sunglasses=pd.DataFrame({'Brand Name':Brand1,'Product Name':Product1,'Price':Price1,'Offer':Offer1})
Sunglasses

,Brand Name,Product Name,Price,Offer
0,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹399,80% off
1,Silver Kartz,UV Protection Clubmaster Sunglasses (53),₹278,81% off
2,LIZA ANGEL,"Riding Glasses, Night Vision Spectacle Sunglas...",₹129,87% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹489,38% off
4,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149,75% off
...,...,...,...,...
95,Elligator,UV Protection Round Sunglasses (54),₹286,88% off
96,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹284,81% off
97,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹399,80% off
98,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹259,90% off
99,LIZA ANGEL,"UV Protection, Polarized Rectangular Sunglasse...",₹129,87% off

# Question 5

In [286]:
driver=webdriver.Chrome(r'D:\chromedriver_win32\chromedriver.exe')

In [287]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [288]:
Rating=[]
Review_summry=[]
full_review=[]

In [289]:
start=0
end=10

for page in range(start,end):
    
    rate=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rate:
        Rating.append(i.text)
        
    Reviw=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in Reviw:
        Review_summry.append(i.text)
        
    revi=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in revi:
        full_review.append(i.text)
        
    next_b=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')

In [290]:
print(len(Rating),len(Review_summry),len(full_review))

100 100 100

In [291]:
Iphone11_review=pd.DataFrame({'Rating':Rating,'Summry':Review_summry,'Customer Review':full_review})
Iphone11_review

,Rating,Summry,Customer Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Highly recommended,It's my first time to use iOS phone and I am l...
96,5,Highly recommended,What a camera .....just awesome ..you can feel...
97,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
98,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
99,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

# Question-6

In [316]:
driver=webdriver.Chrome(r'D:\chromedriver_win32\chromedriver.exe')

In [317]:
driver.get('https://www.flipkart.com/')

In [318]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('Sneakers')

In [319]:
search=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search.click()

In [320]:
Brand=[]
Product_description=[]
price=[]
Offers=[]

In [321]:
start=0
end=3

for page in range(start,end):
    
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        Brand.append(i.text)
        
    product=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product:
        Product_description.append(i.text)
        
    pri=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pri:
        price.append(i.text)
        
    off=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in off:
        Offers.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')

In [322]:
print(len(Brand),len( Product_description),len(price),len(Offers))

120 114 120 120

In [323]:
Br1=Brand[0:100]
pro1=Product_description[0:100]
pri1=price[0:100]
offe=Offers[0:100]

In [324]:
print(len(Br1),len(pro1),len(pri1),len(offe))

100 100 100 100

In [325]:
Sneakers=pd.DataFrame({'Brand Name':Br1,'Product description':pro1,'Price':pri1,'Offers':offe})
Sneakers

,Brand Name,Product description,Price,Offers
0,World Wear Footwear,Exclusive Affordable Collection of Trendy & St...,₹259,82% off
1,RapidBox,Sneakers For Men,₹599,40% off
2,Labbin,Sneakers For Men,₹399,60% off
3,Shozie,Sneakers For Men,₹295,70% off
4,SFR,PLANCK Smart Grey Lace-Ups Casuals Sneakers Sn...,₹209,65% off
...,...,...,...,...
95,TR,Modern Trendy Sneakers Shoes Sneakers For Men,₹499,66% off
96,BRUTON,"Casuals, Canvas, Partywear Sneakers For Men",₹299,78% off
97,TR,Sneakers For Men,₹494,67% off
98,Bond Street By Red Tape,WATERPROOF-05cFULLWHITE Sneakers For Men,"₹1,324",75% off
99,Deals4you,Sneakers For Men,₹299,70% off

# Question-7

In [538]:
driver=webdriver.Chrome(r'D:\chromedriver_win32\chromedriver.exe')

In [539]:
driver.get('https://www.amazon.in/')

In [540]:
product1=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
product1.send_keys('Laptop')

In [541]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [543]:
core_i=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[13]/span/a')
core_i.click()

In [544]:
Brand_Title=[]
Rating=[]
price=[]

In [545]:
Title=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in Title[0:10]:
    Brand_Title.append(i.text)
    
Rat=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in Rat[0:10]:
    Rating.append(i.text)
    
lapi_price=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in lapi_price[0:10]:
    price.append(i.text)

In [546]:
print(len(Brand_Title),len(Rating),len(price))

10 10 10

In [547]:
Laptop=pd.DataFrame({'Brand Title':Brand_Title,'Ratings':Rating,'Laptop Price':price})
Laptop

                                         Brand Title Ratings Laptop Price
0  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...     4.0       95,546
1  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...     4.2       89,000
2  HP Victus Gaming Latest 12th Gen Intel Core i7...     4.3       82,490
3  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...     4.2       82,990
4  HP Pavilion x360 11th Gen Intel Core i7 14 inc...     4.4       82,490
5  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...     4.4       79,990
6  ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...     5.0     1,49,900
7  Mi Notebook Horizon Edition 14 Intel Core i7-1...     4.1       53,500
8  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...     3.5     1,02,490
9  ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2...     4.0     1,02,000

# Question 8

In [556]:
driver=webdriver.Chrome(r'D:\chromedriver_win32\chromedriver.exe')

In [557]:
driver.get('https://www.azquotes.com/')

In [558]:
quote=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
quote.click()

In [559]:
title=[]
author=[]
q_type=[]

In [560]:
start=0
end=10

for page in range(start,end):
    
    quot=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quot:
        title.append(i.text)
        
    auth=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in auth:
        author.append(i.text)
        
    ty_q=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in ty_q:
        q_type.append(i.text)
        
        
    nex_but=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')

In [561]:
print(len(title),len(author),len(q_type))

1000 1000 1000

In [562]:
Quotes=pd.DataFrame({'Quote':title,'Author':author,'Type':q_type})
Quotes

,Quote,Author,Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

# Question -9

In [55]:
driver=webdriver.Chrome(r'D:\chromedriver_win32\chromedriver.exe')

In [56]:
driver.get('https://www.jagranjosh.com/')

In [57]:
gk=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
gk.click()

In [58]:
PM_list=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
PM_list.click()

In [59]:
PM_name=[]

In [60]:
name=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in name:
    PM_name.append(i.text)

In [63]:
born_dead=[]
birth=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in birth:
    born_dead.append(i.text)

In [82]:
Term=[]
office=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p')
for i in office:
    Term.append(i.text)
    
T1=Term[0:35:2]

In [71]:
Remark=[]
re=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in re:
    Remark.append(i.text.replace('-','').replace('------',''))

In [81]:
PM_India=pd.DataFrame({'Name':PM_name,'Born-Dead':born_dead,'Office Term':T1,'Remark':Remark})
PM_India

,Name,Born-Dead,Office Term,Remark
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
5,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998,
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first noncongress PM who completed a full...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

# Question-10

In [33]:
driver=webdriver.Chrome(r'D:\chromedriver_win32\chromedriver.exe')

In [34]:
driver.get('https://www.motor1.com/')

In [35]:
l_list=driver.find_element(By.XPATH,'//div[@class="box-item-left"]')
l_list.click()

In [36]:
feature=driver.find_element(By.XPATH,'//li[@class="m1-navigation-main__animated-block grand left top mobile dropdown show"]')
feature.click()

In [42]:
List=driver.find_element(By.XPATH,'/html/body/div[3]/div[7]/div')
List.click()

In [43]:
cars50=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div[1]/div[1]/div/div/div[2]/div/div[1]/h3/a')
cars50.click()

In [44]:
C_name=[]
Description=[]
price=[]

In [45]:
name=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in name[0:50]:
    C_name.append(i.text)

In [50]:
C_name

['Drako GTE',
 'De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [54]:
import time
description_50expcars = driver.find_elements(By.XPATH,'/html/body/div[2]/div[7]/div[2]/div[1]/div[2]/div[1]/p')

for k in description_50expcars:

        Description.append(k.text)

        

time.sleep(3)



#for removing the price row whoch is also included in descroption data-

desc_list=[]

for i in range(4,103,2):

    desc_list.append(Description[i])

IndexError: list index out of range

In [49]:
Description

[]

coulde'nt find exact element to extract the data please guide me regarding that